{{ header }}
<div class="site-breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="page-main user-center">
  <div class="container">
    <div class="row">
      {{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">
        {% if success %}<div class="alert alert-success alert-dismissible"><i class="icon-checkmark"></i> {{ success }}</div>{% endif %}
        {% if error_warning %}<div class="alert alert-warning"><i class="icon-warning"></i> {{ error_warning }}</div>{% endif %}
        {{ content_top }}
        <h1 class="heading">{{ text_account_setting }}</h1>
        <ul class="nav nav-tabs">
          <li><a href="{{ profile }}">{{ text_account_profile }}</a></li>
          <li class="active"><a href="{{ address }}">{{ text_account_address }}</a></li>
          <li><a href="{{ password }}">{{ text_account_password }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
        {% if addresses %}
        <div class="table-responsive user-address-list">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="col-name">{{ entry_fullname }}</td>
                <td class="col-address">{{ entry_address_1 }}</td>
                <td class="col-telephone">{{ entry_telephone }}</td>
                <td class="col-action">{{ entry_action }}</td>
              </tr>
            </thead>
            <tbody>
              {% for result in addresses %}
              <tr>
                <td class="col-name">{{ result.fullname }}</td>
                <td class="col-address">{{ result.address }}</td>
                <td class="col-telephone">{{ result.telephone }}</td>
                <td class="col-action"><a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a> &nbsp; <a href="{{ result.delete }}" class="btn btn-danger">{{ button_delete }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <p>{{ text_empty }}</p>
        {% endif %}
        <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <div class="pull-right"><a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a></div>
        </div>
        {{ content_bottom }}
      </div>
      {{ column_right }}
    </div>
  </div>
</div>
{{ footer }}